/******* GÉNÉRAL *******/
@use "sass:math";

// DEBUG
// * {
//     outline: 1px solid red;
// }

::-moz-selection {
    background: rgba(#000, 0.99);
    color: $white;
    text-shadow: none;
}
::selection {
    background: rgba(#000, 0.99);
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background-color: $secondary;
    &.no-scroll {
        position: fixed;
        overflow: hidden;
        width: 100%;
        left: 0;
        right: 0;
        top: var(--scroll-top);
    }
}

body {
    font: 1.6em / 1.1 "ABC Repro", sans-serif;
    font-kerning: normal;
    font-feature-settings: "ss01";
    font-weight: 400;
    color: $primary;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
    &::before,
    &::after {
        animation: none !important;
        transition: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
.wrapper-animation {
    padding: 100px 0;
}
.hero-title {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 100px;
}
.title {
    font-size: 4rem;
    line-height: 50px;
    width: percentage(math.div(4, 6));
    span {
        font-feature-settings: "ss16";
    }
}
