// Variables 🧮 //

:root {
    --scroll-top: 0px;
    --gutter: 40px;
    --gutter-out: 60px;
    --gutter-out-monolith: 20px;
}

// Colors 🎨
$white: #ffffff;
$primary: #f24f2b;
$primary-light: #f6836a;
$secondary: #e8e0d9;

// Grids variables 📐
$gutter: 12px;

// Mediaqueries 📱
// Horizontal sizes
$desktop-xxl: 1440px;
$desktop-large: 1280px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 768px;
$phone: 580px;
$phone-small: 400px;

// Vertical sizes
$phone-small-v: 600px;
$desktop-v: 900px;
$desktop-xxl-v: 1080px;
$header-height: 120px;
