/* Grid */

.container {
    width: 100%;
    padding-left: var(--gutter-out);
    padding-right: var(--gutter-out);
    margin: 0 auto;
}

.content-pad {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

/* Grid helper */
.grid {
    position: fixed;
    top: 0;
    left: var(--gutter-out-monolith);
    right: var(--gutter-out-monolith);
    bottom: 0;
    pointer-events: none;
    z-index: 100;
    .container {
        height: 100%;
        display: flex;
    }
}

.column-block {
    width: 100%;
    padding: 0 var(--gutter);
    border-left: 1px solid rgba(black, 0.1);
    &:nth-child(n + 4) {
        display: none;
    }
    &:last-child {
        border-right: 1px solid rgba(black, 0.1);
    }
}

.column-text {
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.1);
}

@media (min-width: $tablet) {
    .column-block {
        &:nth-child(n + 4) {
            display: block;
        }
    }
}
